<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DropboxRootFolder" value="c:\\Documents\\Dropbox\\" />
    <add key="BackupFolder" value="c:\\!!!\\!Dr_cache\\" />
  </appSettings>
</configuration>